<div id="aside" class="app-aside modal folded md nav-expand">
    <div class="left navside indigo-900 dk" layout="column">
        <div class="navbar navbar-md no-radius">
            <!-- brand -->
            <a class="navbar-brand">
                <div ui-include="'../assets/images/logo.svg'"></div>
                <img src="../assets/images/logo.png" alt="." class="hide">
                <span class="hidden-folded inline">Rio Quente</span>
            </a>
            <!-- / brand -->
        </div>
        <div flex class="hide-scroll">
            <nav class="scroll nav-active-primary">
                <ul class="nav" ui-nav>
                    <li class="nav-header hidden-folded">
                        <small class="text-muted">Meu Rio Quente</small>
                    </li>

                    <li>
                        <a href="rqvc.html">
                            <span class="nav-icon">
                                <i class="material-icons">
                                    &#xe8f9;
                                    <span ui-include="'../assets/images/i_0.svg'"></span>
                                </i>
                            </span>
                            <span class="nav-text">RQVC</span>
                        </a>
                    </li>
                    <li>
                        <a href="hotpark.html">
                            <span class="nav-icon">
                                <i class="material-icons">
                                    &#xe1bc;
                                    <span ui-include="'../assets/images/i_0.svg'"></span>
                                </i>
                            </span>
                            <span class="nav-text">HotPark</span>
                        </a>
                    </li>
                    <li>
                        <a href="atracoes.html">
                            <span class="nav-icon">
                                <i class="material-icons">
                                    &#xe53f;
                                    <span ui-include="'../assets/images/i_0.svg'"></span>
                                </i>
                            </span>
                            <span class="nav-text">Atrações</span>
                        </a>
                    </li>
                    <li>
                        <a href="fotos.html">
                            <span class="nav-icon">
                                <i class="material-icons">
                                    &#xe413;
                                    <span ui-include="'../assets/images/i_0.svg'"></span>
                                </i>
                            </span>
                            <span class="nav-text">Fotos</span>
                        </a>
                    </li>
                    <li>
                        <a href="ajuda.html">
                            <span class="nav-icon">
                                <i class="material-icons">
                                    &#xe8fd;
                                    <span ui-include="'../assets/images/i_0.svg'"></span>
                                </i>
                            </span>
                            <span class="nav-text">Precisa de Ajuda?</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div flex-no-shrink>
            <nav ui-nav>
                <ul class="nav">
                    <li><div class="b-b b m-v-sm"></div></li>
                    <li class="no-bg">
                        <a href="signin.html">
                            <span class="nav-icon">
                                <i class="material-icons">&#xe8ac;</i>
                            </span>
                            <span class="nav-text">Logout</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>